<div mat-dialog-title>
    <h3>User Form</h3>
</div>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" placeholder="Ex. Mohamed" formControlName="prenom">
            </mat-form-field>
            
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" placeholder="Ex. Namouchi" formControlName="nom">
            </mat-form-field>
            
        </div>
      

    </div>
    
    <div mat-dialog-actions class="action">
        
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary">
            {{data ? 'Update' : 'Save'}}
        </button>
    </div>
</form>