
<mat-card class="card">
    <mat-card-content class="login-card-content">
      <div class="image-container">
        <img src="assets/images/sofrecom.png" width="180" height="80" alt="Sofrecom Logo">
      </div>
  
      <form [formGroup]="signin" class="login-form" (ngSubmit)="onFormSubmit()">
        <mat-form-field class="input-row">
          <input matInput placeholder="CUID" formControlName="userCode" required>
        </mat-form-field>
        <mat-form-field class="input-row">
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-button">
          Login
        </button>
        <div class="error-message" *ngIf="loginError">{{ loginError }}</div>
      </form>
    </mat-card-content>
  </mat-card>
  