
<div mat-dialog-title>
    <h1>Bus Form</h1>
</div>

<form [formGroup]="busForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Bus Name</mat-label>
                <input matInput type="text" placeholder="Ex. Bus ZAHROUNI" formControlName="bus">
            </mat-form-field> 
        </div>
        <div *ngFor="let user of users" >
            <label class="checkbox-label">
              <input class="styled-checkbox" type="checkbox" (change)="onUserSelect(user, $event)"> {{ user.nom }} ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ
            </label>
            <mat-divider></mat-divider>
          </div>


          <ng-container *ngFor="let circuit of circuits">
            <label>
              <input
                type="radio"
                name="selectedCircuit"
                [value]="circuit"
              >
              {{ circuit.nom }}
            </label><br>
          </ng-container>
    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary">
            Save
        </button>
    </div>
</form>
