
.row 
{
    display: flex;
    gap: 10px;
    mat-form-field
    {
        width: 100%;
    }

}
.action
{
    padding : 0px 25px 20px;
    button{
        flex :1;

    }
}


/* Augmenter la taille des cases à cocher */
.styled-checkbox {
    width: 20px; /* Largeur de la case à cocher */
    height: 20px; /* Hauteur de la case à cocher */
  }
  
  /* Styles pour le label de la case à cocher */
  .checkbox-label {
    display: inline-block;
    margin-right: 10px; /* Marge entre le label et la case à cocher */
    font-size: 16px; /* Taille de police du label */
  }

  .horizontal-container {
    display: flex;
    justify-content: space-between;
  }
  
  .horizontal-section {
    flex: 1;
  }
  
  .horizontal-item {
    margin-right: 10px;
  }

  
  
  .styled-radio {
    width: 20px; /* Ajustez la taille comme souhaité */
    height: 20px; /* Ajustez la taille comme souhaité */
    margin-right: 10px;
    /* Ajoutez d'autres styles de design ici, comme les couleurs, les bordures, etc. */
  }
  
  



  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .alert-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding: 10px;
  }
  
  .alert-content {
    text-align: center;
  }
  